body {
	background: <img src="images/matt-nelson-259365.jpg">
	background-size:cover;
	color: #fff;
	font-family: Helvetica;
}
h1, {
	width: 200px;
}
p {
	font-size: 22px;
}

background
background-color
color
font-size
font-style
font-weight
text-align
text-decoration
text-transform

margin
padding
border
width
text-align

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
<div class="container">	
	
	<div id="logo" class="twelve columns add-bottom">
		<h2>Design Shack</h2>
	</div>
	
	<div id="nav" class="four columns">
		<ul>
			<li><a href="#">Home</a></li>
			<li><a href="#">About</a></li>
			<li><a href="#">Contact</a></li>
		</ul>
	</div>
	
	<div id="bigphoto" class="sixteen columns add-bottom">
		<img src="http://lorempixum.com/940/430/city/1" />
	</div>
	
	<div class="eight columns add-bottom smallphoto">
		<img src="http://lorempixum.com/460/230/city/2" />
	</div>
	
	<div class="eight columns add-bottom smallphoto">
		<img src="http://lorempixum.com/460/230/city/3" />
	</div>
 
</div><!-- container -->