body {
	background-color: white;
	background: <img src="images/matt-nelson-259365.jpg">

}
h1, p {
	font-family: Times New Roman;
	color: #2F4F4F;
	font-size: 54px;
	text-align: center;
	font-weight: bold;
	text-decoration
	text-transform
	margin
	padding
	border
	width
	text-align


h2 {
   font-family: arial,verdana,sans-serif;
   font-size: 20px;
   background: #ffffff;
   color: black;
}

P {
   font-family: arial,verdana,sans-serif;
   font-size: 100px;
   background: #ffffff;
   color: black;
}
	<img src="images/matt-nelson-259365.jpg">

	ul {
    text-align: center;
    list-style-type: none;
}




