body {
	background: <img src="images/matt-nelson-259365.jpg">
	background-size:cover;
	color: #fff;
	font-family: Helvetica;
}
h1, {
	width: 200px;
}
p {
	font-size: 22px;
}

background
background-color
color
font-size
font-style
font-weight
text-align
text-decoration
text-transform

margin
padding
border
width
text-align